/*
	Let's Do This

	Main font stacks are Arvo and PT Sans served up by Google Fonts.
	Usage is as follows:

	h1 { font-family: 'Arvo', Georgia, Times, serif; }
	p { font-family: 'PT Sans', Helvetica, Arial, sans-serif; }
	span { font-family: 'Rock Salt', 'cursive'; }


*/

body { background: #fff; font-family: 'PT Sans', Helvetica, Arial, sans-serif; font-size: 100%; }

	p { font-size: 1.2rem; }

	h3 { font-family: 'Arvo', Georgia, Times, serif; }

	header {
		background-color: #13496D;
		background-image: -webkit-linear-gradient(top, #13496D, #3384BA);
		background-image: linear-gradient(to bottom, #13496D, #3384BA);
		color: #fff;
		position: relative;
		overflow: hidden; }

		header div div { text-align: center; }

			header div div img { width: 400px; height: auto; margin: 60px 0; position: relative; z-index: 9000; }

		.logo-fall {
			position: absolute;
			top: -500px;
			-webkit-animation: falling 5s ease-in-out 0 infinite alternate;
			animation: falling 5s ease-in-out 0 infinite alternate;
		}

	#what { background: #556270; padding: 4rem 0; }

		#what p, #what h3 { color: #fff; }

		#calendar { position: relative; }

			#calendar p {
				position: absolute;
				left: 0;
				right: 0;
				text-align: center;
				color: #fff;
				font-family: 'Rock Salt', 'cursive';
				-webkit-transform: rotate(-19deg);
				-ms-transform: rotate(-19deg);
				transform: rotate(-19deg);
			}

			#curl { position: absolute; left: -4px; bottom: -6px; z-index: 9000; }

			#weekday { top: 60px; font-size: 2rem; }

			#date { top: 100px; font-size: 5rem; }

	#format { background: #C44D58; padding: 4em 0; text-align: center; }

		#format:before { display: inline-block; text-align: center; content: url('../img/fire.svg'); width: 100px; }

		#format h3 { color: #fff; }

		#format h4 { color: #fff; font-size: 1em; font-family: 'PT Sans', Helvetica, Arial, sans-serif; margin-top: -6px; margin-bottom: 2rem; }

		#format p { color: #fff; }

			#format p.step { margin-bottom: 2rem; }

		#index-cards { position: relative; height: 330px; margin: 1rem 0 0 0; padding: 0; }

			#index-cards li { position: relative; display: block; text-align: left; width: 100%; max-width: 470px; min-height: 330px; list-style: none; position: absolute; box-shadow: 0 0 2px rgba(0,0,0,.5); padding: 1rem 2rem; }

				#index-cards li p { line-height: 2; color: #111; font-size: 1em; font-family: 'Rock Salt', 'cursive'; }

				.blue { background: #4ECDC4; -webkit-transform: rotate(3deg); transform: rotate(3deg); }
				.yellow { background: #FCE00E; -webkit-transform: rotate(-2deg); transform: rotate(-2deg); }
				.green { background: #C7F464; }

				.star { position: absolute; width: 50px; }

		#format a { color: #C7F464; }

		#format a:hover { text-decoration: underline; }

	#schedule { background: #fff; padding: 4em 0; text-align: center; }

		#schedule:before { display: inline-block; text-align: center; content: url('../img/signs.svg'); width: 100px; }

		#schedule h3 {  }

		#schedule h4 { font-size: 1em; font-family: 'PT Sans', Helvetica, Arial, sans-serif; margin-top: -6px; margin-bottom: 2rem; }

		.mc-type { width: 100%; height: auto; margin-bottom: 1rem; }

		#schedule p {  }

		#format a {  }

	footer { background: #333; color: #fff; padding: 16px 0; text-align: center; }

		footer p { margin: 0; padding: 0; }



/*
	Fun Animations Down Here... FUNIMATIONS
	All logos here get a unique ID for offseting, scaling and transforming
*/

#falling1 {
	left: 50%;
	margin-left: -300px;
	-webkit-transform: rotate(10deg);
	-webkit-animation-delay: 2s;
}

#falling2 {
	right: 50%;
	margin-right: -500px;
	-webkit-transform: rotate(14deg) scale(2);
}

#falling3 {
	left: 50%;
	-webkit-transform: rotate(-23deg) scale(8);
	-webkit-animation-duration: 10s;
}

#falling4 {
	left: 50%;
	margin-left: -500px;
	-webkit-transform: rotate(-8deg) scale(4);
	-webkit-animation-duration: 4s;
}

#falling5 {
	right: 50%;
	margin-right: -200px;
	-webkit-transform: rotate(9deg) scale(5);
	-webkit-animation-duration: 3.5s;
}

#falling6 {
	right: 50%;
	margin-right: -300px;
	-webkit-transform: rotate(17deg) scale(3);
	-webkit-animation-duration: 7s;
}

@-webkit-keyframes falling {
   from { top: -500px; }
   to   { top: 800px; }
}

@keyframes falling {
   from { top: -500px; }
   to   { top: 800px; }
}